DOC_ENGINE=elasticsearch
DB_TYPE=postgres
DEVICE=cpu
COMPOSE_PROFILES=elasticsearch,cpu

STACK_VERSION=8.11.3
MEM_LIMIT=8073741824
RAGFLOW_IMAGE=infiniflow/ragflow:v0.26.4

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DBNAME=rag_flow
POSTGRES_USER=rag_flow
POSTGRES_PASSWORD=GENERATED_AT_INSTALL

ES_HOST=es01
ES_PORT=9200
ELASTIC_PASSWORD=GENERATED_AT_INSTALL
OS_HOST=opensearch01
OS_PORT=9201
OPENSEARCH_PASSWORD=GENERATED_AT_INSTALL

MINIO_HOST=minio
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_USER=rag_flow
MINIO_PASSWORD=GENERATED_AT_INSTALL

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=GENERATED_AT_INSTALL
RAGFLOW_CREDENTIALS_KEY=GENERATED_AT_INSTALL
NATS_HOST=nats
NATS_PORT=4222

SVR_WEB_HTTP_PORT=9380
SVR_WEB_HTTPS_PORT=9443
SVR_HTTP_PORT=9380
ADMIN_SVR_HTTP_PORT=9381
SVR_MCP_PORT=9382
GO_HTTP_PORT=9384
GO_ADMIN_PORT=9383

REGISTER_ENABLED=0
DISABLE_PASSWORD_LOGIN=0
SANDBOX_ENABLED=0
TZ=Europe/Moscow
LLM_TIMEOUT_SECONDS=300
OLLAMA_KEEP_ALIVE=24h
T_ONE_ASR_OLLAMA_MODEL=

TEI_IMAGE_CPU=ghcr.io/huggingface/text-embeddings-inference:cpu-1.8
TEI_IMAGE_GPU=ghcr.io/huggingface/text-embeddings-inference:1.8
TEI_MODEL=BAAI/bge-small-en-v1.5
TEI_PORT=6380

INFINITY_HOST=infinity
INFINITY_THRIFT_PORT=23817
INFINITY_HTTP_PORT=23820
INFINITY_PSQL_PORT=5432
OCEANBASE_PORT=2881
SEEKDB_PORT=2881
MYSQL_HOST=mysql
MYSQL_PORT=3306
MYSQL_DBNAME=rag_flow
MYSQL_PASSWORD=DISABLED
EXPOSE_MYSQL_PORT=3306
KIBANA_PORT=5601

OPENMETADATA_URL=
OPENMETADATA_PUBLIC_URL=
OPENMETADATA_USERNAME=
OPENMETADATA_PASSWORD=
OPENMETADATA_WRITE_ENABLED=false
